# Pair Group By and Apply

In [68]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("world_data_full.csv")
df

In [ ]:
df.country.value_counts()

In [ ]:
df[["population","land_area", "armed_forces_size", "co2-emissions", "gdp", "population", "urban_population", "latitude", "longitude", "density", "cpi"]]

## Apply exercises

In [ ]:
# 1) Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, 
# longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. 
# Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

def df_cambiar_coma(cadena):
    try:
        return float(cadena.replace(",","."))
    except: 
        return np.nan

list_to_transform = ["population","land_area", "armed_forces_size", "co2-emissions", "gdp", "population", "urban_population", "latitude", "longitude", "density", "cpi"]

for col in list_to_transform:
    df[col] = df[col].apply(df_cambiar_coma)
    print(df[col].dtype)

In [69]:
# 2) Crea una función para añadir una nueva columna llamada 'Continent' al DataFrame para indicar a qué 
# continente pertenece cada país.

# En este caso queremos crear una nueva columna a partir de aplicar una función a una columna existente, podemos usar "apply"
# sintaxis del método apply
# df['nueva_columna'] = df['columna'].apply(func)

# primero, definimos la función a aplicar

def get_continent(country):
    paises_continentes = {
    "Afghanistan": "Asia",
    "Albania": "Europa",
    "Algeria": "África",
    "Andorra": "Europa",
    "Angola": "África",
    "Antigua and Barbuda": "América",
    "Argentina": "América",
    "Armenia": "Asia",
    "Australia": "Oceanía",
    "Austria": "Europa",
    "Azerbaijan": "Asia",
    "Bahamas": "América",
    "Bahrain": "Asia",
    "Bangladesh": "Asia",
    "Barbados": "América",
    "Belgium": "Europa",
    "Belize": "América",
    "Benin": "África",
    "Bhutan": "Asia",
    "Bolivia": "América",
    "Bosnia and Herzegovina": "Europa",
    "Botswana": "África",
    "Brazil": "América",
    "Brunei": "Asia",
    "Bulgaria": "Europa",
    "Burkina Faso": "África",
    "Burundi": "África",
    "Cape Verde": "África",  # Cape Verde actualizado
    "Cambodia": "Asia",
    "Cameroon": "África",
    "Canada": "América",
    "Central African Republic": "África",  # Central African Republic agregado
    "Chad": "África",
    "Chile": "América",
    "China": "Asia",
    "Colombia": "América",
    "Comoros": "África",
    "Republic of the Congo": "África",
    "Democratic Republic of the Congo": "África",
    "Costa Rica": "América",
    "Croatia": "Europa",
    "Cuba": "América",
    "Cyprus": "Asia",
    "Czech Republic": "Europa",
    "Denmark": "Europa",
    "Djibouti": "África",
    "Dominica": "América",
    "Dominican Republic": "América",
    "East Timor": "Asia",
    "Ecuador": "América",
    "Egypt": "África",
    "El Salvador": "América",
    "Equatorial Guinea": "África",
    "Eritrea": "África",
    "Estonia": "Europa",
    "Eswatini": "África",
    "Ethiopia": "África",
    "Fiji": "Oceanía",
    "Finland": "Europa",
    "France": "Europa",
    "Gabon": "África",
    "Gambia": "África",
    "Georgia": "Asia",
    "Germany": "Europa",
    "Ghana": "África",
    "Greece": "Europa",
    "Grenada": "América",
    "Guatemala": "América",
    "Guinea": "África",
    "Guinea-Bissau": "África",
    "Guyana": "América",
    "Haiti": "América",
    "Honduras": "América",
    "Hungary": "Europa",
    "Iceland": "Europa",
    "India": "Asia",
    "Indonesia": "Asia",
    "Iran": "Asia",
    "Iraq": "Asia",
    "Ireland": "Europa",
    "Israel": "Asia",
    "Italy": "Europa",
    "Jamaica": "América",
    "Japan": "Asia",
    "Jordan": "Asia",
    "Kazakhstan": "Asia",
    "Kenya": "África",
    "Kiribati": "Oceanía",
    "North Korea": "Asia",
    "South Korea": "Asia",
    "Kosovo": "Europa",
    "Kuwait": "Asia",
    "Kyrgyzstan": "Asia",
    "Laos": "Asia",
    "Latvia": "Europa",
    "Lebanon": "Asia",
    "Lesotho": "África",
    "Liberia": "África",
    "Libya": "África",
    "Liechtenstein": "Europa",
    "Lithuania": "Europa",
    "Luxembourg": "Europa",
    "Madagascar": "África",
    "Malawi": "África",
    "Malaysia": "Asia",
    "Maldives": "Asia",
    "Mali": "África",
    "Malta": "Europa",
    "Marshall Islands": "Oceanía",
    "Mauritania": "África",
    "Mauritius": "África",
    "Mexico": "América",
    "Federated States of Micronesia": "Oceanía",  # Micronesia actualizado
    "Moldova": "Europa",
    "Monaco": "Europa",
    "Mongolia": "Asia",
    "Montenegro": "Europa",
    "Morocco": "África",
    "Mozambique": "África",
    "Myanmar": "Asia",
    "Namibia": "África",
    "Nauru": "Oceanía",
    "Nepal": "Asia",
    "Netherlands": "Europa",
    "New Zealand": "Oceanía",
    "Nicaragua": "América",
    "Niger": "África",
    "Nigeria": "África",
    "North Macedonia": "Europa",
    "Norway": "Europa",
    "Oman": "Asia",
    "Pakistan": "Asia",
    "Palau": "Oceanía",
    "Panama": "América",
    "Papua New Guinea": "Oceanía",
    "Paraguay": "América",
    "Peru": "América",
    "Philippines": "Asia",
    "Poland": "Europa",
    "Portugal": "Europa",
    "Qatar": "Asia",
    "Romania": "Europa",
    "Russia": "Europa",
    "Rwanda": "África",
    "Saint Kitts and Nevis": "América",
    "Saint Lucia": "América",
    "Saint Vincent and the Grenadines": "América",
    "Samoa": "Oceanía",
    "San Marino": "Europa",
    "Sao Tome and Principe": "África",
    "Saudi Arabia": "Asia",
    "Senegal": "África",
    "Serbia": "Europa",
    "Seychelles": "África",
    "Sierra Leone": "África",
    "Singapore": "Asia",
    "Slovakia": "Europa",
    "Slovenia": "Europa",
    "Solomon Islands": "Oceanía",
    "Somalia": "África",
    "South Africa": "África",
    "South Sudan": "África",
    "Spain": "Europa",
    "Sri Lanka": "Asia",
    "Sudan": "África",
    "Suriname": "América",
    "Sweden": "Europa",
    "Switzerland": "Europa",
    "Syria": "Asia",
    "Taiwan": "Asia",
    "Tajikistan": "Asia",
    "Tanzania": "África",
    "Thailand": "Asia",
    "The Bahamas": "América",
    "Togo": "África",
    "Tonga": "Oceanía",
    "Trinidad and Tobago": "América",
    "Tunisia": "África",
    "Turkey": "Asia",
    "Turkmenistan": "Asia",
    "Tuvalu": "Oceanía",
    "Uganda": "África",
    "Ukraine": "Europa",
    "United Arab Emirates": "Asia",
    "United Kingdom": "Europa",
    "United States": "América",
    "Uruguay": "América",
    "Uzbekistan": "Asia",
    "Vanuatu": "Oceanía",
    "Venezuela": "América",
    "Vietnam": "Asia",
    "Yemen": "Asia",
    "Zambia": "África",
    "Zimbabwe": "África",
    "Ivory Coast": "África",  # Ivory Coast agregado
    "Palestinian National Authority": "Asia",  # Palestinian National Authority agregado
    "Republic of Ireland": "Europa",  # Republic of Ireland agregado
    "The Gambia": "África",  # The Gambia agregado
    "Vatican City": "Europa",  # Vatican City agregado
    "Belarus": "Europa"  # Belarus agregado
}
    try:
        continent = paises_continentes[country]
    except:
        continent = np.nan
    return continent

In [70]:
df["continent"] = df["country"].apply(get_continent)

In [73]:
df

,Unnamed: 0,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,...,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
0,0,Afghanistan,60.0,AF,58.1,652.230,323.0,32.49,93.0,Kabul,...,0.28,NaN,48.9,9.3,71.4,11.12,NaN,33.939110,67.709953,Asia
1,1,Albania,105.0,AL,43.1,28.748,9.0,11.78,355.0,Tirana,...,1.20,NaN,55.7,18.6,36.6,12.33,NaN,41.153332,20.168331,Europa
2,2,Algeria,18.0,DZ,17.4,NaN,317.0,24.28,213.0,Algiers,...,1.72,NaN,41.2,37.2,66.1,11.70,NaN,28.033886,1.659626,África
3,3,Andorra,164.0,AD,40.0,468.000,NaN,7.20,376.0,Andorra la Vella,...,3.33,NaN,NaN,NaN,NaN,NaN,67.873,42.506285,1.521801,Europa
4,4,Angola,26.0,AO,47.5,NaN,117.0,40.73,244.0,Luanda,...,0.21,NaN,77.5,9.2,49.1,6.89,NaN,-11.202692,17.873887,África
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,190,Venezuela,32.0,VE,24.5,912.050,343.0,17.88,58.0,Caracas,...,1.92,NaN,59.7,NaN,73.3,8.80,NaN,6.423750,-66.589730,América
191,191,Vietnam,314.0,VN,39.3,331.210,522.0,16.75,84.0,Hanoi,...,0.82,NaN,77.4,19.1,37.6,2.01,NaN,14.058324,108.277199,Asia
192,192,Yemen,56.0,YE,44.6,527.968,40.0,30.45,967.0,Sanaa,...,0.31,NaN,38.0,NaN,26.6,12.91,NaN,15.552727,48.516388,Asia
193,193,Zambia,25.0,ZM,32.1,752.618,16.0,36.19,260.0,Lusaka,...,1.19,NaN,74.6,16.2,15.6,11.43,NaN,-13.133897,27.849332,África
194,194,Zimbabwe,38.0,ZW,41.9,390.757,51.0,30.68,263.0,Harare,...,0.21,NaN,83.1,20.7,31.6,4.95,NaN,-19.015438,29.154857,África